In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#open file excel
office_sales = pd.ExcelFile('Office Sales.xlsx')
#read sheet 'Sales'
sales = pd.read_excel(office_sales, 'Sales')
#read sheet 'Customer'
customers = pd.read_excel(office_sales, 'Customer')

In [3]:
#overview sheet 'Sales'
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SalesOrderNumber  29999 non-null  object
 1   OrderDate         29999 non-null  datetime64[ns]
 2   DeliveryDate      29829 non-null  datetime64[ns]
 3   ShipMode          29999 non-null  object
 4   CustomerKey       29999 non-null  int64
 5   ProductKey        29999 non-null  object
 6   CategoryName      29999 non-null  object
 7   SubcategoryName   29999 non-null  object
 8   ProductName       29999 non-null  object
 9   UnitPrice         29999 non-null  object
 10  OrderQuantity     29999 non-null  object
 11  Discount %        29999 non-null  object
 12  ShippingCost      29999 non-null  object
 13  OrderPriority     29999 non-null  object
dtypes: datetime64[ns](2), int64(1), object(11)
memory usage: 3.2+ MB

In [4]:
#overview sheet 'Customer'
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18804 entries, 0 to 18803
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerKey   18804 non-null  int64
 1   Customer      18804 non-null  object
 2   StateName     18804 non-null  object
 3   Country       18804 non-null  object
 4   Region        18804 non-null  object
 5   Market        18804 non-null  object
 6   BusinessType  18804 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

# exploring sheet 'Sales'

In [5]:
sales['ProductKey'].value_counts()

OFF-AR-10003651     35
OFF-BI-10003708     29
OFF-AR-10003829     27
OFF-BI-10002570     27
FUR-CH-10003354     27
                    ..
OFF-PA-10003739      1
FUR-TA-10000478      1
OFF-ST-10000242      1
FUR-DEF-10004555     1
OFF-SU-10003866      1
Name: ProductKey, Length: 5963, dtype: int64

In [6]:
sales['CategoryName'].value_counts()

Office Supplies    21421
Furniture           8578
Name: CategoryName, dtype: int64

In [7]:
sales['SubcategoryName'].value_counts().sort_values()

Tables          707
Appliances     1558
Bookcases      2141
Supplies       2197
Furnishings    2755
Chairs         2975
Paper          3139
Art            4473
Storage        4579
Binders        5475
Name: SubcategoryName, dtype: int64

In [8]:
sales['Discount %'].value_counts().sort_index()

0%      3650
0.1%    3292
0.2%    3363
0.3%    3344
0.4%    3257
0.5%    3321
0.6%    3380
0.7%    3199
0.8%    3193
Name: Discount %, dtype: int64

In [9]:
sales['OrderPriority'].value_counts()

Medium      17254
High         9053
Critical     2274
Low          1418
Name: OrderPriority, dtype: int64

In [10]:
sales['ShipMode'].value_counts()

Standard Class    17991
Second Class       6019
First Class        4401
Same Day           1588
Name: ShipMode, dtype: int64

In [11]:
sales['ShipMode'].value_counts()

Standard Class    17991
Second Class       6019
First Class        4401
Same Day           1588
Name: ShipMode, dtype: int64

In [12]:
sales['UnitPrice'].value_counts().sort_index()

1.39 USD      3
1.6 USD       3
1.64 USD      5
1.68 USD     17
1.74 USD      4
             ..
99.6 USD      4
99.64 USD     5
99.72 USD     5
99.88 USD     3
99.99 USD     5
Name: UnitPrice, Length: 2796, dtype: int64

In [13]:
sales['OrderQuantity'].value_counts().sort_index()

1 pcs     5213
10 pcs     164
11 pcs      91
12 pcs     105
13 pcs      52
14 pcs     109
15 pcs       2
16 pcs       1
2 pcs     7530
3 pcs     5640
4 pcs     3736
5 pcs     2817
6 pcs     1778
7 pcs     1396
8 pcs      792
9 pcs      573
Name: OrderQuantity, dtype: int64

# exploring sheet 'Customer'

In [14]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18804 entries, 0 to 18803
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerKey   18804 non-null  int64
 1   Customer      18804 non-null  object
 2   StateName     18804 non-null  object
 3   Country       18804 non-null  object
 4   Region        18804 non-null  object
 5   Market        18804 non-null  object
 6   BusinessType  18804 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [15]:
customers['CustomerKey'].value_counts().sort_index()

56       1
57       1
58       1
59       1
60       1
        ..
18855    1
18856    1
18857    1
18858    1
18859    1
Name: CustomerKey, Length: 18804, dtype: int64

In [16]:
customers['Customer'].value_counts()

Art Ferguson        38
Frank Olsen         37
Noel Staavos        37
Sara Luxemburg      36
Natalie Fritzler    35
                    ..
Nora Paige          13
Michael Oakman      11
Peter BÃ¼hler        10
Jocasta Rupert      10
Darren Budd          8
Name: Customer, Length: 795, dtype: int64

In [17]:
customers['StateName'].value_counts()

California       541
England          439
New York         362
Texas            326
Ile-de-France    315
                ...
Mie                1
Zeeland            1
Ishikawa           1
Sokoto             1
Sikasso            1
Name: StateName, Length: 1056, dtype: int64

In [18]:
customers['StateName'].describe()

count          18804
unique          1056
top       California
freq             541
Name: StateName, dtype: object

In [19]:
customers['Country'].value_counts()

United States    3547
France           1052
Mexico            980
Australia         951
Germany           769
                 ...
Burundi             2
Chad                1
Eritrea             1
Swaziland           1
Lesotho             1
Name: Country, Length: 143, dtype: int64

In [20]:
customers['Country'].describe()

count             18804
unique              143
top       United States
freq               3547
Name: Country, dtype: object

In [21]:
customers['Region'].value_counts()

Central           4079
South             2586
EMEA              1983
Africa            1806
North             1678
Oceania           1168
Southeast Asia    1099
East              1025
West              1008
North Asia         845
Central Asia       739
Caribbean          621
Canada             167
Name: Region, dtype: int64

In [22]:
customers['Region'].describe()

count       18804
unique         13
top       Central
freq         4079
Name: Region, dtype: object

In [23]:
customers['Market'].value_counts()

APAC      3851
LATAM     3733
EU        3717
US        3547
EMEA      1983
Africa    1806
Canada     167
Name: Market, dtype: int64

In [24]:
customers['BusinessType'].value_counts()

Consumer       9657
Corporate      5698
Home Office    3449
Name: BusinessType, dtype: int64

`Clean "Unit price" column`

In [25]:
sales["UnitPrice"] = sales["UnitPrice"].str.strip()
sales["UnitPrice"] = sales["UnitPrice"].str.replace('USD','')
sales["UnitPrice"] = sales["UnitPrice"].astype(float)

`Clean "OrderQuantity" column`

In [26]:
sales["OrderQuantity"] = sales["OrderQuantity"].str.strip()
sales["OrderQuantity"] = sales["OrderQuantity"].str.replace('pcs','')
sales["OrderQuantity"] = sales["OrderQuantity"].astype(float)

`Clean "ShippingCost" column`

In [27]:
sales["ShippingCost"] = sales["ShippingCost"].str.strip()
sales["ShippingCost"] = sales["ShippingCost"].str.replace('USD','')
sales["ShippingCost"] = sales["ShippingCost"].astype(float)

`Clean "Discount %" column`

In [28]:
sales["Discount %"] = sales["Discount %"].str.replace('%','')
sales["Discount %"] = sales["Discount %"].astype(float)
sales["Discount %"] = sales["Discount %"].div(100)

In [30]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SalesOrderNumber  29999 non-null  object
 1   OrderDate         29999 non-null  datetime64[ns]
 2   DeliveryDate      29829 non-null  datetime64[ns]
 3   ShipMode          29999 non-null  object
 4   CustomerKey       29999 non-null  int64
 5   ProductKey        29999 non-null  object
 6   CategoryName      29999 non-null  object
 7   SubcategoryName   29999 non-null  object
 8   ProductName       29999 non-null  object
 9   UnitPrice         29999 non-null  float64
 10  OrderQuantity     29999 non-null  float64
 11  Discount %        29999 non-null  float64
 12  ShippingCost      29999 non-null  float64
 13  OrderPriority     29999 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(1), object(7)
memory usage: 3.2+ MB

In [31]:
sales['UnitPrice'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29999 entries, 0 to 29998
Series name: UnitPrice
Non-Null Count  Dtype
--------------  -----
29999 non-null  float64
dtypes: float64(1)
memory usage: 234.5 KB

In [32]:
sales['UnitPrice'].value_counts().sort_index()

1.39        3
1.60        3
1.64        5
1.68       17
1.74        4
           ..
1052.16     1
1270.99     9
1360.99     5
1637.53     3
1889.99     2
Name: UnitPrice, Length: 2796, dtype: int64

In [33]:
sales['UnitPrice'].describe()

count    29999.000000
mean        79.367678
std        121.566872
min          1.390000
25%         15.750000
50%         33.560000
75%         82.230000
max       1889.990000
Name: UnitPrice, dtype: float64

In [34]:
sales['OrderQuantity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29999 entries, 0 to 29998
Series name: OrderQuantity
Non-Null Count  Dtype
--------------  -----
29999 non-null  float64
dtypes: float64(1)
memory usage: 234.5 KB

In [35]:
sales['OrderQuantity'].value_counts().sort_index()

1.0     5213
2.0     7530
3.0     5640
4.0     3736
5.0     2817
6.0     1778
7.0     1396
8.0      792
9.0      573
10.0     164
11.0      91
12.0     105
13.0      52
14.0     109
15.0       2
16.0       1
Name: OrderQuantity, dtype: int64

In [36]:
sales['OrderQuantity'].describe()

count    29999.000000
mean         3.476916
std          2.284369
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max         16.000000
Name: OrderQuantity, dtype: float64

In [37]:
sales['Discount %'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29999 entries, 0 to 29998
Series name: Discount %
Non-Null Count  Dtype
--------------  -----
29999 non-null  float64
dtypes: float64(1)
memory usage: 234.5 KB

In [38]:
sales['Discount %'].value_counts().sort_index()

0.000    3650
0.001    3292
0.002    3363
0.003    3344
0.004    3257
0.005    3321
0.006    3380
0.007    3199
0.008    3193
Name: Discount %, dtype: int64

In [39]:
sales['Discount %'].describe()

count    29999.000000
mean         0.003930
std          0.002591
min          0.000000
25%          0.002000
50%          0.004000
75%          0.006000
max          0.008000
Name: Discount %, dtype: float64

In [40]:
sales['ShippingCost'].value_counts().sort_index()

0.002       1
0.003       1
0.020       5
0.023       1
0.030       1
           ..
1059.410    1
1208.880    1
1280.220    1
1304.480    1
1581.510    1
Name: ShippingCost, Length: 10423, dtype: int64

In [41]:
sales['ShippingCost'].describe()

count    29999.000000
mean        30.353239
std         68.112116
min          0.002000
25%          3.630000
50%          9.509000
75%         27.211500
max       1581.510000
Name: ShippingCost, dtype: float64